<div class="banner">
<header id="header">
    <div class="colita">
        <div class="logoh">
            <a title="Argentina Programa" href="https://argentinaprograma.inti.gob.ar"><img src="../../../assets/aplogo.png" alt="argpprod" />
            </a>
        </div>

        <div class="logoh">
            <a title="INTI" href="https://www.inti.gob.ar"><img src="../../../assets/logosInti.png" alt="inti" />
            </a>
        </div>
    </div>
    <div class="colita">
    
    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Iniciar Sesión</button>
    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>

    </div>
</header> 
</div>
