<div class="container mt-5">
    <h3>Mis Proyectos</h3>
    <div class="row">
        <div class="col-lg-3">
            <div class="card mb-3">
                <img src="../../../assets/pfcaptura.JPG" alt="Vista previa" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Portafolio personal</h5>
                <p class="card-text">Una aplicación web construida en Angular para dar a conocer mi trabajo.</p>
                <a href="#" class="btn btn-outline-primary">Probar</a>
                </div>
            </div>
        </div>        
    </div> 
    </div> 
