<div class="container">
    <div class="row">
        <img class="profilepic rounded-circle img-fluid" src="../../../assets/profilepic.jpg" alt="Foto de Perfil de Fernando">
     </div>
    <div class="container my-5">
        <h1>{{persona.nombre}} {{persona.apellido}}</h1>
        <h3><small class="text-muted">Full Stack Developer Jr.</small>
        </h3>
        
        <a ref="mailto:contacto@ferfer.dev" type="button" class="btn btn-outline-primary">
            contacto@ferfer.dev
    </a>
        <p class="lead mt-2">
            Disfruto de la Programación y el Desarrollo Web.
        </p>
        </div>

</div>