<div class="container">
    <div class="row">
        <img class="profilepic rounded-circle img-fluid" src="../../../assets/profilepic.jpg" alt="Foto de Perfil de Fernando">
     </div>
    <div class="container my-5">
        <h1>{{persona.nombre}} {{persona.apellido}}</h1>
        <h3><small class="text-muted">Full Stack Developer Jr.</small>
        </h3>
        
        <a href="mailto:ferdevx@gmail.com" type="button" class="btn btn-outline-primary">
            ferdevx@gmail.com
    </a>
        <p class="lead mt-2">
            Disfruto de la Programación y el Desarrollo Web.
        </p>
        </div>

</div>



<!-- html del acerca de con componente editable----
    
    
    <div class="container">
    <div class="row">
        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged">
                Editar persona
            </button>
        </div>
        <img class="profilepic rounded-circle img-fluid" src={{persona.img}} alt="Foto de Perfil">
    </div>
    <div class="container my-5">
        <h1>{{persona.nombre}} {{persona.apellido}}</h1>
        <h3><small class="text-muted">Full Stack Developer Jr.</small>
        </h3>
        
        <a ref="mailto:ferdevx@gmail.com" type="button" class="btn btn-outline-primary">
            ferdevx@gmail.com
    </a>
        <p class="lead mt-2">
            {{persona.descripcion}}
        </p>
        </div>

</div>-->