<div class="container mt-5">
    <h3>Mis Proyectos</h3>
    <div class="row">
        <div class="col-lg-3">
            <div class="card mb-3">
                <img src="https://picsum.photos/400/200" alt="Vista previa App Clima" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">App Clima</h5>
                <p class="card-text">Una aplicación para saber el estado del tiempo</p>
                <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-3">
                <img src="https://picsum.photos/400/200" alt="Vista previa App Clima" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">App Clima</h5>
                <p class="card-text">Una aplicación para saber el estado del tiempo</p>
                <a href="#" class="btn btn-outline-primary">Go somewhere</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-3">
                <img src="https://picsum.photos/400/200" alt="Vista previa App Clima" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">App Clima</h5>
                <p class="card-text">Una aplicación para saber el estado del tiempo</p>
                <a href="#" class="btn btn-outline-primary">Go somewhere</a>
            </div>
            </div>
        </div>
    </div> 
    </div> 
