<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11"> 
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ad sequi ducimus harum veritatis 
                    magni quibusdam perspiciatis dolore et, eveniet quas voluptatem placeat earum, aliquid 
                    molestiae provident error? Fugit, consequuntur?</p>

            </li>
            </ul>
            <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta mollitia necessitatibus 
                    officia earum est fugiat sint accusantium, voluptatem tempora. Ducimus tempora eligendi 
                    aliquid iste, dolor expedita quaerat rem est labore.</p>

            </li>
        </ul>
    </div>
</div>
